[main]
source=mssql
target=mysql
debug=0
batch_count=100
sleep=3


[mssql]
host=127.0.0.1
port=1433
user=username
passwd=123456
db=foobar
table=tablename
columns=*
pk=id
pk_values=

[mysql]
host=127.0.0.1
port=3306
user=username
passwd=123456
db=foobar
charset=utf8
table=tablename
start=
end=
